@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc
@inject SignInManager<Models.data.ApplicationUser> SignInManager
@{
    ViewData["Title"] = "I want to lend | LoanDroidApp";
}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li>Personal Account</li>
                        <li class="active">Saving Account</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white pinside30">
                    <div class="row align-items-center">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                            <h1 class="page-title">Saving Account</h1>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="btn-action"> <a href="#!" class="btn btn-secondary">How To Apply</a> </div>
                        </div>
                    </div>
                </div>
                <div class="sub-nav" id="sub-nav">
                    <ul class="nav nav-justified">
                        <li class="nav-item">
                            <a href="contact-us.html" class="nav-link">Give me call back</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link">Emi Caculator</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content start -->
<div class="container">
    <div class="wrapper-content bg-white">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="pinside30">
                    <div class="row">
                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-6 col-12 mb30">
                            <h3>Looking to grow your savings?</h3>
                            <p>Savings accounts with Bank are an excellent way to earn interest while you still maintain easy access to your money with internet banking and our mobile app. It’s your savings account, it’s your money.</p>
                            <p>Cras consectetur accumsan eros. Aenean semper volutpat justo, id blandit ante eleifend et. Duis ac ex vitae sem suscipits scelerisque malesuada augue. Aliquam egestas condimentum congue. Ut eleifend accumsan porta.</p>
                        </div>
                        <div class="offset-xl-1 col-xl-4 offset-lg-1 col-lg-4 col-md-6 col-sm-6 col-12">
                            <h3>Benefits of Saving Account</h3>
                            <ul class="list-unstyled bullet bullet-check-circle">
                                <li>Competitive interest rates</li>
                                <li>No monthly account-keeping fee</li>
                                <li>Internet banking</li>
                                <li>Mobile banking</li>
                                <li>Telephone banking</li>
                                <li>Bank branches & ATMs</li>
                            </ul>
                        </div>
                    </div>
                    <div class="mt60">
                        <p>For more information, Check our bank savings accounts.</p>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="text-primary mb0">Life Savings</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                        <div class="mb30">
                                            <p>Donec hendrerit velit lacus, eu molestie metus rutrum nonecenas quis purus bibe elementum id in quam.</p>
                                            <div class="mb20 mt20">
                                                <span>Earn up to </span>
                                                <h1 class="display-4 text-bold text-primary">2.30%<small>p.a.</small></h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-lg-5 col-md-8 col-sm-12 col-12">
                                        <h3>Why open a Life account?</h3>
                                        <ul class="list-unstyled bullet bullet-check-circle">
                                            <li>Manage long term and short term goals within a single account with Savings Goals</li>
                                            <li>Enjoy a competitive base rate plus bonus interest each month you grow your balance.</li>
                                            <li>Unlimited access to your money online through your Borrowaccount.</li>
                                        </ul>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12 text-center">
                                        <a href="#!" class="btn btn-secondary mb20">Open account</a>
                                        <a href="#!" class="btn-link">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="text-primary mb0">eSaver</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                        <div class="mb30">
                                            <p>Morbi sit amet turpis nec massa congue vestibulum. Integer commodo arcu in nibh tristique rhoncus. Praesent eleifend leo eros, eu vestibulum lectus suscipit </p>
                                            <div class="mb20 mt20">
                                                <span>Earn up to </span>
                                                <h1 class="display-4 text-bold text-primary">2.51% <small>p.a.</small></h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-lg-5 col-md-8 col-sm-12 col-12">
                                        <h3>Why open a Life account?</h3>
                                        <ul class="list-unstyled bullet bullet-check-circle">
                                            <li>24/7 access to funds via your linked everyday account</li>
                                            <li>$0 monthly service fee on eSaver</li>
                                            <li>No minimum balance.</li>
                                        </ul>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12 text-center">
                                        <a href="#!" class="btn btn-secondary mb20">Open account</a>
                                        <a href="#!" class="btn-link">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="text-primary mb0">Savings</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                        <div class="mb30">
                                            <p>Donec hendrerit velit lacus, eu molestie metus rutrum nonecenas quis purus Available for under 18s.</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-lg-5 col-md-8 col-sm-12 col-12">
                                        <h3>Why open a Life account?</h3>
                                        <ul class="list-unstyled bullet bullet-check-circle">
                                            <li>Learn the importance of saving at a young age</li>
                                            <li>Start early to get set up for the future</li>
                                            <li>Vivamus ut scelerisque massa,</li>
                                            <li>Quisque imperdiet fermentum dui vel elementum</li>
                                        </ul>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12 text-center">
                                        <a href="#!" class="btn btn-secondary mb20">Open account</a>
                                        <a href="#!" class="btn-link">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-share">
                <ul class="listnone">
                    <li><a href="#!" class="btn-share btn-facebook" title="Share on Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#!" class="btn-share btn-twitter" title="Share on Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#!" class="btn-share btn-google" title="Share on Google"> <i class="fab fa-google"></i></a></li>
                    <li><a href="#!" class="btn-share btn-linkedin" title="Share on Linkedin"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>